
section{
  width: 95%;
  max-width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 3.5em .75em;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  background: #fff;
}

.btn{
position : relative;
Top : 15px;
  text-align: center;
  padding: .5em .75em;
  background: pink;
  background: linear-gradient(to right, pink, lightpink);
  border: none;
  font-weight: 300;
  font-size: 1.25EM;
  color: #fff;
  border-radius: 4px;
  transition: all 500ms;
}
btn:hover{
    border-radius: 12px;
}
	
input[type=file]{
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.hi{
  text-align: center;
}

.fileName{
  padding-top: 10px;
  font-weight: 300;
}

.preview{
  position: relative;
  width: 250px;
  height: 250px;
  background: #f2f2f2;
  border-radius: 100%;
  margin: 0 auto 25px auto;
  overflow: hidden;
  border: 8px solid #E0E0E0;
}
  
  img {
    width: 250px; height: 250px;
     object-fit: contain;
  }

  #img_camera{
    width: 100px; height: 230px;
  }
  
  .loadingLogo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -35px;
    margin-top: -35px;
    width: 70px;
    height: 70px;
    border: 5px solid #69CD9B;
    border-top: 5px solid #2FDEC1;
    border-radius: 100%;
    animation: spin 500ms linear infinite;
  }

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  background: #f6f6f6;
}