body{
    color: #555;
	  background-color: #ffffff;
}
div{
    display: block;
}
.list-wrapper , .addthis_inline_share_toolbox_lp9a{
	width: 95%;
    max-width: 600px;
    margin: 30px auto;
    position: relative;
    top: 50%;
    padding: 1em;
    /* left: 50%;
    transform: translate(-50%, -50%);
    padding: 3.5em .75em;
    border: 1px solid #e8e8e8;
    border-radius: 6px; */
}
.addthis_inline_share_toolbox_lp9a{
    text-align: center;
}
#disqus_thread{
    width: 95%;
    max-width: 600px;
    margin: auto;
    position: relative;
    
}


#title_set{
    text-align: center;
}
.small-btn{
    position: relative;
    background: pink;
    text-align: center;
    background: pink;
    width: 25%;
    height: 25px;
    background: linear-gradient(to right, pink, lightpink);
    border: none;
    font-weight: 300;
    font-size: 1.25EM;
    color: #fff;
    border-radius: 4px;
    transition: all 500ms;

}
.btn{
    position : relative;
    Top : 15px;
    padding: .5em .75em;
    background: pink;
    background: linear-gradient(to right, pink, lightpink);
    border: none;
    font-weight: 300;
    font-size: 1.25EM;
    color: #fff;
    border-radius: 4px;
    transition: all 500ms;
  }
  .menu{
      text-align:center;
  }
  btn:hover{
    border-radius: 12px;
}

/* List component */
.list{
    background-color: rgb(255, 255, 255);
    list-style: none;
    margin: 0;
    padding: 15px;
    border-radius: 2px;
    padding-left: 0px;
    /*box-shadow: 0 2px 6px rgba(0,0,0,0.15);*/
}

    .list .list-item{
        display: flex;
        padding: 10px 5px;
    }
    .list .list-item:not(:last-child){
        border-bottom: 1px solid #EEE;
    }

        /*list item image wrapper*/
        .list .list-item__image{
            flex-shrink: 0;
            height: 80px;
        }
            .list .list-item__image img{
                border-radius: 50%;
                width: 80px;
                height: 80px;
            }

        /*list item content*/
        .list .list-item__content{
            flex-grow: 1;
            padding: 0 20px;
        }
            .list .list-item__content h4{
                margin: 0;
                font-size: 18px;
                margin-top: 15px;
            }

            .list .list-item__content p{
                margin-top: 5px;
                color: #AAA;
                margin-bottom: 0;
            }
