body{
  position: relative;
  top: 70px;
  text-align: center;
}
.share{
  position: relative;
  top:15px;
}
footer{
  font-size: 5px;
}
#disqus_thread{

  max-width: 600px;
  
}
.menu{
  display: inline;
}
ul{
 display: flexbox;
 list-style-type: none;
 padding-left:0px;
}
  .loading {display:none; position:absolute; top:-4px; left:0; z-index:99; width:100%; height:100%; background:rgba(0, 0, 0, 0.5);}

  .loading strong {display:block; position:relative; top:50%; margin:-75px auto 0 auto; width:200px; height:50px; padding:0 30px;

  border-radius: 10px;

  -webkit-border-radius: 10px;

  -moz-border-radius: 10px;

box-sizing:border-box;

  background:#fff;

  color:#000; font-size:16px; line-height:50px; text-align:center;
}

#kakao-link-btn > img{
  width: 42px;
  height: 42px;
  margin-bottom: 5px;
  z-index: 1;
}
#kakao-link-btn :hover{
  transform: translateY(-4px);
  text-decoration: none;
}